body {}

.heading {
    width: 100%;
    border: none;
    text-decoration: underline;
    background-image: linear-gradient(to right, red, green, yellow);
    text-align: center;
}

.navi {
    width: 50%;
    border: 5px solid red;
    height: 80px;
    background-color: rgb(159, 205, 246);
    border-radius: 10px;
    margin-left: 25%;
}

.navi ul li {
    text-align: center;
    justify-items: center;
   
}

.main_box {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    border: 3px solid red;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px
}

.row_1 {
    width: 28%;
    height: 100px;
    border-radius: 10px;
    border: 3px solid red;
    background-color: aqua;
    padding-left: 1%;
    padding-right: 2%;

}

.row_1 p {
    font-weight: bold;
}

.row_2 {
    width: 36%;
    height: 100px;
    border-radius: 10px;
    border: 3px solid red;
    background-color: aqua;
    margin-left: 30%;
    padding-left: 2%;
    padding-right: 2%;
}

.row_2 p {
    font-weight: bold;
}

.middle_gradient {
    width: 100%;
    padding: 1%;
    border: none;
    background-image: linear-gradient(to right, orange, yellow, red);
    text-decoration: underline;
    text-align: center;
}

.end_gradient {
    width: 100%;
    padding: 1%;
    border: none;
    background-image: radial-gradient(rgb(25, 25, 133), rgb(106, 156, 106));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.middle {
    width: 12%;
    height: 100px;
    background-color: yellow;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    color: red;
    text-decoration: underline;
    padding: 5px;
    margin: 5%;
    font-size: large;
    font-weight: bold;
    line-height: 30px;
    
}

.bottom_layout{
    width: 100%;
    background-color: rgb(247, 245, 241);
    height: 395px;
   
    display: grid;
    grid-template-columns: repeat(3, auto) 10%;
    color: rgb(255, 255, 255);
    border: 3px solid green;
}
.item1{
    background-color: rgb(79, 21, 7);   
    padding: 0;
    margin: 5px;
    grid-row: 1/2;
    grid-column: 1/5;
    font-weight: bolder;
    text-align: center;
  
}
.item2{
    background-color: rgb(65, 206, 65);
    padding: 10px;
    margin: 5px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
.item3{
    background-color: rgb(47, 189, 211);
    padding: 10px;
    margin: 5px;
    font-size: 32px;
    text-align: left;
    font-weight: bold;
}
.item4{
    background-color: rgb(29, 2, 88);
    padding: 10px;
    margin: 5px;
    font-size: 28px;
    text-align: left;
    font-weight: bold;
}
.item5{
    background-color: rgb(4, 4, 3);
    padding: 10px;
    margin: 5px;
    grid-row: 2/4;
    grid-column: 4/5;
    text-decoration: underline;
    font-size: 20px;
}
.item6{
    background-color: rgb(210, 141, 62);
    padding: 10px;
    margin: 5px;
    grid-row: 3/4;
    grid-column: 1/4;
    font-size: 28px;
    text-align: left;
    font-weight: bold;
    }
.item7{
    background-color: rgb(26, 201, 122);
    padding: 10px;
    margin: 5px;
    grid-row: 4/5;
    grid-column: 1/5; 
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

